<div class="row">
  <div class="col shadow-lg rounded no-overflow bg-white">
    <div class="row">
      <app-experience [resume]='childResume' class="col pt-2 pb-2"></app-experience>
      <div class="col-3 d-flex flex-column justify-content-between bg-dark pt-2 pb-2">
        <div class="row">
          <app-skills [resume]='childResume' class="col"></app-skills>
        </div>
        <div class="row">
          <app-links class="col"></app-links>
        </div>
      </div>
    </div>
  </div>
</div>
