<div class="row">
  <div class="col shadow-lg rounded no-overflow bg-white">
    <div class="row pt-2">
      <div class="col">
        <div><h2>{{"Bryan O'Daly" | uppercase}}</h2></div>
      </div>
    </div>
    <div class="border mb-2"></div>

    <div class="row">
      <div class="col">
        <div class="mb-3"><h5 class="text-black-50">{{"Software Developer / Graphic Designer / Illustrator" | uppercase}}</h5></div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-primary prepend-icon" disabled><i class="fas fa-envelope"></i></button>
            </div>
            <input readonly class="form-control" value="bryanmorodaly@gmail.com">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-primary prepend-icon" disabled><i class="fas fa-mobile-alt"></i></button>
            </div>
            <input readonly class="form-control" value="503.547.5459">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-primary prepend-icon" disabled><i class="fas fa-map-marked-alt"></i></button>
            </div>
            <input readonly class="form-control" value="MURRAY, UT">
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-dark">
      <div class="col pt-2 pb-2">
        <app-links></app-links>
      </div>
    </div>
  </div>
</div>
